html, body{
    position: relative;
    height:100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
}

.container{
    position: relative;
    height: 594px;
    width: 838; /*window width - 2*border*/
    border: solid rgb(4, 0, 65);
    border-width: 0px 6px 6px 6px;
    padding: 0px;
    margin: 0px;
}

#titleBar{
    position: absolute;
    top: 0px;
    height: 35px;
    width: 100%;
    background-color: rgb(4, 0, 65);
    color: white;
    padding: 0px;
    margin: 0px;
}

#titleBar ul{
    list-style-type: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#titleBar li{
    padding: 0px;
    margin: 5px;
    cursor: pointer;
}

#Close, #Minimize{
    float: right;
}

#titleBar img{
    height: 25px;
    width: 25px;
}

#settingsIcon{
    position: absolute;
    left: 0px;
}

.container{
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

#content{
    position: absolute;
    top: 35px;
    height: 565px;
    width: 100%;
}


#clockBlock{
    position: relative;
    width: 400px;
    height: 400px;
}

#numbers p{
    font: 27px arial;
    text-align: center;
}
#twelve{
    position: absolute;
    top:3px;
    left: 185px;
}
#eleven{
    position: absolute;
    top:24px;
    left: 110px;
}
#ten{
    position: absolute;
    top:80px;
    left: 53px;
}
#nine{
    position: absolute;
    top:156px;
    left: 40px;
}
#eight{
    position: absolute;
    top:233px;
    left: 60px;
}
#seven{
    position: absolute;
    top:289px;
    left: 117px;
}
#six{
    position: absolute;
    top:309px;
    left: 192px;
}
#five{
    position: absolute;
    top:289px;
    left: 268px;
}
#four{
    position: absolute;
    top:233px;
    left: 325px;
}
#three{
    position: absolute;
    top:156px;
    left: 345px;
}
#two{
    position: absolute;
    top:80px;
    left: 325px;
}
#one{
    position: absolute;
    top:24px;
    left: 268px;
}

#addTaskButton{
    position: absolute;
    right: 40px;
    bottom: 100px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}


.Task{
    border-radius: 100%;
    border: 2px solid blue;
    padding: 0px 5px;
    cursor: pointer;
}


#settings{
    position: absolute;
    height: 559px;
    width: 200px;
    top: 35px;
    left: -206px;
    background: rgba(4, 0, 65, 0.959);
}